.loginContainer {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0px 100px;
  .mainBox {
    max-width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #24343d;
    border-radius: 2%;
    .card {
      width: 250px;
      .switchContainer {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        .currentSelector {
          background-color: #db7600;
          color: #ffffff;
          border: none;
          border-radius: 5px;
          padding: 8px 0px;
          width: 50%;
          text-align: center;
        }
        .secondSelector {
          background-color: #42555b;
          color: #ffffff;
          border: none;
          border-radius: 5px;
          width: 50%;
          padding: 8px 0px;
          text-decoration: none;
          text-align: center;
        }
      }
      .tittle {
        font-size: 30px;
        text-align: center;
        margin: 20px 0px 40px 0px;
      }
      form {
        display: flex;
        flex-direction: column;
        input {
          background-color: #24343d;
          border: none;
          border-radius: 5px;
          border-bottom: 1px solid #ffffff;
          color: #ffffff;
          position: relative;
          padding: 5px 0px 5px 35px;
          margin: 4px 0px 10px 0px;
          font-size: 16px;
          &:active {
            outline: none;
          }
          &:focus-visible {
            outline: none;
            border-bottom: 1px solid #db7600;
          }
        }
        svg {
          scale: 0.2;
          width: 90px;
          height: 90px;
          fill: #db7600;
        }
        .inputContainer {
          display: flex;
          flex-direction: column;
          .nameContainer {
            display: flex;
            gap: 10px;
            padding: 0px;
            position: relative;
            .name {
              width: 50%;
              padding-left: 5px;
            }
            .surName {
              padding-left: 5px;
              width: 50%;
            }
          }
          .emailContainer {
            display: flex;
            flex-direction: column;
            position: relative;
            .emailError {
              border-bottom: 1px solid #db7600;
              &::placeholder {
                color: #db7600;
              }
            }
          }
          .passWordContainer {
            display: flex;
            flex-direction: column;
            position: relative;
            .passwordError {
              border-bottom: 1px solid #db7600;
              &::placeholder {
                color: #db7600;
              }
            }
          }
          .emailIcon {
            position: absolute;
            top: -26px;
            left: -30px;
          }
          .lockIcon {
            position: absolute;
            top: -27px;
            left: -30px;
          }
          .asteriskIcon {
            scale: 0.1;
            position: absolute;
            top: -28px;
            left: 190px;
          }
          .showPassword {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            gap: 10px;
            margin-right: 2px;
            span {
              user-select: none;
            }
            svg {
              display: flex;
              align-items: flex-start;
              justify-content: center;
              margin-top: 0px;
              width: 20px;
              height: 20px;
              scale: 1;
              cursor: pointer;
            }
          }
          .submitLink {
            text-decoration: none;
          }
          .submitButton {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            border: none;
            border-radius: 2px;
            padding: 5px 0px;
            font-size: 25px;
            font-weight: 600;
            cursor: pointer;
            color: #db7600;
            background-color: #42555b;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: 600ms;
            &:hover {
              background-color: #db7600;
              color: #ffffff;
              transition: 600ms;
            }
          }
        }
      }
    }
  }
}
