html{
    background: linear-gradient(#DB7600, #42555B,);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
    color: #ffffff;
    font-family: 'Tilt Neon', cursive;
    font-weight: 600;
    margin: 0;
    padding: 0;
}