.mainBox {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0px 100px;
  .innerBox {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #24343d;
    border-radius: 5px;

    .viewUserContainer {
      .top {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        .tittle {
          font-size: 30px;
        }
        .back {
          svg {
            width: 50px;
            height: 50px;
            fill: #db7600;
            transition: 500ms;
            &:hover {
              opacity: 20%;
              transition: 500ms;
            }
          }
        }
      }
      .userContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          margin: 20px;
          .contentContainer {
            display: flex;
            position: relative;
            align-items: center;
            input {
              border: none;
              border-radius: 5px;
              background-color: #24343d;
              color: #ffffff;
              &::placeholder {
                color: #ffffff;
              }
            }
            .info {
              display: flex;
              align-items: center;
              position: absolute;
              left: 80px;
              gap: 60px;
              border-bottom: 1px solid #ffffff;
              width: 75%;
              font-size: 12px;
            }
            .tag {
              display: flex;
              align-items: center;
            }
          }
        }
        .iconButtons {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
          a {
            text-decoration: none;
            color: #ffffff;
          }
          svg {
            width: 60px;
            height: 60px;
          }
          .editButton {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: #db7600;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            transition: 500ms;
            position: relative;
            .editLink {
              padding: 10px 40px 10px 15px;
              z-index: 2;
            }
            svg {
              width: 30px;
              height: 30px;
              position: absolute;
              left: 80px;
              fill: #ffffff;
            }
            &:hover {
              opacity: 20%;
              color: #ffffff;
              transition: 500ms;
            }
          }
          .deleteButton {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: #42555b;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            transition: 500ms;
            position: relative;
            .deleteLink {
              padding: 10px 50px 10px 20px;
              z-index: 2;
            }
            svg {
              width: 30px;
              height: 30px;
              position: absolute;
              left: 70px;
              fill: #ffffff;
            }
            &:hover {
              color: #ffffff;
              transition: 500ms;
              background-color: red;
            }
          }
          .saveButton {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            transition: 500ms;
            position: relative;
            button {
              padding: 10px 50px 10px 20px;
              background-color: #db7600;
              border: none;
              border-radius: 5px;
              color: #ffffff;
              font-family: "Tilt Neon", cursive;
              font-weight: 600;
              font-size: 16px;
              cursor: pointer;
            }
            svg {
              width: 30px;
              height: 30px;
              position: absolute;
              left: 60px;
              fill: #ffffff;
              z-index: 1;
            }
            &:hover {
              opacity: 20%;
              color: #ffffff;
              transition: 500ms;
            }
          }
          .cancelButton {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: #42555b;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            transition: 500ms;
            position: relative;
            .deleteLink {
              padding: 10px 50px 10px 20px;
              z-index: 2;
            }
            svg {
              width: 30px;
              height: 30px;
              position: absolute;
              left: 70px;
              top: 6px;
              fill: #ffffff;
            }
            &:hover {
              color: #ffffff;
              transition: 500ms;
              opacity: 20%;
            }
          }
        }
      }
      .errorMessage {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 1px;
        margin-top: 20px;
        color: #ffffff;
        background-color: green;
        border-radius: 5px;
      }
    }
  }
}
